*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 1px;
	visibility: hidden;
}
body{
    margin: 0;
    padding:0;
    width: 100%;
}
header{
    display: flex;
    height: 80px;
    justify-content: space-around;
    background-color:#3E5B99;
    padding: 0 10%;
}
header .prvi, header .drugi{
    width: 50%;
}
header .drugi div{
    float: left;
    width: 35%;
    padding: 16px;
    
}
header .drugi label{
    display: block;
    color: white;
}
header .drugi input{
    width: 100%;
}
header h1{
    color: white;
}
#logBtn{
    margin-top: 34px;
    width: 10%;
    background-color: #365899;
    border-color: #29487d;
    color: white;
}
main {  
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #eae6e6;
}

section {
    flex: 55%;
    background-color: #f1f1f1;
    
}
aside {
    flex: 45%;
    background-color: #f1f1f1;
    
}
section form{
    width: 55%;
    margin: 0 ;
}
section form h1{
    font-size: 36px;
}
section form div{
    margin-bottom: 15px;
}
section form div input{
    height: 35px;
    border-radius: 5px;
    width: 100%;
    text-indent: 6px;
    border: 1px solid #bdc7d8;
    
}
#first_name, #last_name{
    width: 47%;
}
#first_name{
    margin-right: 4%;
}
#last_name{
    float: right;
}

::placeholder {
    opacity: 0.7; /* Firefox */
    font-size: 18px;
    
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.7; 
    font-size: 18px;
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.7; 
    font-size: 18px;
 }
 #sign_up{
    background: linear-gradient(#67ae55, #578843);
    width: 40%;
    background-color: #649C4F;
    min-width: 194px;
    padding: 7px 20px;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color:#3b6e22 #3b6e22 #2c5115;
    color: white; 
    border-radius: 5px;
    font-weight: bold;
    text-rendering:  optimizelegibility;
    font-size: 19px;
    
 }
 #nav{
     width: 50%;
 }
 a.logOut{
    color: #fff;
	text-decoration: none;
    line-height: 70px;
    float: right;
 }
.error-msg {
    background: #ff6a30;
    padding: 10px;
    border-radius: 5px;
    color: #fdf0e7;
    font-size: 12px;
}
.success-msg {
    background: #47b947;
    padding: 10px;
    border-radius: 5px;
    color: #eaecea;
    font-size: 12px;
}
#signup-success, #signup-errors{
    margin-top: 20px;
}

